<!DOCTYPE html>
<html>
  <head>
    <title>BeatBuddy Collection</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body style="padding-top: 0px;">
    <div class="header">
      <span id="Collection Select"><a href="/" color="red">Collection</a></span> |
      <span id="selectedGenreHeader"></span> |
      <span id="selectedSongHeader"></span> |
	  
      <button class="button" id="sendToBBButton" onclick="sendToBeatBuddy()">
        Send to BeatBuddy
      </button>
      <button class="button-blue" id="sendToSetlistButton" onclick="updateSetlist();">
        Add to Setlist
      </button>
      <div id="successMessage" style="display: none;">
        Song sent to BeatBuddy!
      </div>
      <div id="setListAdded" style="display: none;">
        Sent Song to Setlist!
      </div>
    </div>

    <h2>BeatBuddy Collection</h2>
    <hr class="new2" />
	<div id="selected-song-container-id">
    <div class="selected-song-container">


	  <button id="toggleButton">Toggle Set List</button>
	<div id="setListPanel">
		<i>Once songs are played they're removed from the setlist.</i>
   		</div>
	</div>


      <div class="genre-songs-container" id="genre-songs-container-id">
        {% for genre_code, genre_name in genre_names.items() %}

        <button
          class="accordion"
          onclick="toggleGenre(this)"
          data-genre-code="{{ genre_code }}"
        >
          {{ genre_name }}
        </button>
        <ul class="song-list">
          {% for song in genre_songs[genre_code] %}
          <li><a href="#" onclick="selectSong('{{ song }}')">{{ song }}</a></li>
          {% endfor %}
        </ul>

        {% endfor %}
      </div>
	 </div>

      <div class="selected-song-accordion" id="selectedSongAccordion">
        <div>

          <div id="midi-control-buttons">
		    <h3>Song Controls</h3>
            <hr class="new2" />
            <ul>
              Current Genre:
              <span id="displayValue1"></span>
            </ul>
            <ul>
              Current Song:
              <span id="displayValue2"></span>
            </ul>
			<ul><div id="searchLabel"></div></ul>
            <hr class="new2" />
            <ul>
              <button id="start-button" class="button-37" role="button">
                Start
              </button>
              <button id="stop-button" class="button-37" role="button">
                Stop
              </button>
              <button id="pause-button" class="button-37" role="button">
                Pause
              </button>
              <button id="fill-button" class="button-37" role="button">
                Fill
              </button>
            </ul>
            <ul>
              <button id="half-button" class="button-blue" role="button">
                Half Time
              </button>
              <button id="double-button" class="button-blue" role="button">
                Double Time
              </button>
          </ul><ul>
              <button id="next-button" class="button-orange" role="button">
                Next Section
              </button>
              <button id="previous-button" class="button-orange" role="button">
                Previous Section
              </button>
            </ul>
            <hr class="new2" />
            <ul>
              MIDI Tempo Controls
            </ul>
            <ul>
              Current Tempo:
              <span id="current_tempo">{{ current_tempo }}</span>
            </ul>
            <ul>
              <input
                type="number"
                id="new_tempo"
                placeholder="Tempo"
                min="40"
                max="300"
              />
              <button class="button-yellow" role="button" onclick="setTempo()">
                Set
              </button>
              <button class="button-yellow" role="button" onclick="adjustTempo(-1)">
                -
              </button>
              <button class="button-yellow" role="button" onclick="adjustTempo(1)">
                +
              </button>
            </ul>
            <hr class="new2" />
            <div>
              <ul>
				<h3>Search for Songs</h3>
				<form action="/search" method="POST" onsubmit="saveSearch()">
				  <input
					type="text"
					id="search"
					name="query"
					placeholder="Enter your search query"
					oninput="updateSearchValue(this.value)"
				  />
				  <input type="submit" value="Search" />
				</form>

              </ul>
			  <ul>
		        <h3>Select a Drumset:</h3>
				<form method="post" action="/">
					<select name="drumset">
						<option value="">Select a new Drumset</option>
						{% for name in drumset_names %}
						<option value="{{ name }}">{{ name }}</option>
						{% endfor %}
					</select>
					<input type="submit" value="Submit">
				</form>
			   </ul>
			   <ul>
					<h3>Setlist File Loader</h3>
					   <input type="file" id="file-input" accept=".json"><p><p>
						<button onclick="exportSetlist()">Export Setlist</button>
				</ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="songForm" style="display: none;">
      <h2>Song Selection Results</h2>
      <p>Selected Genre: <span id="selectedGenre"></span></p>
      <p>Selected Song: <span id="selectedSong"></span></p>

      <form id="bbForm">
        <input type="hidden" name="genre" id="genreInput" />
        <input type="hidden" name="song" id="songInput" />
        <button type="submit">Send to BeatBuddy</button>
      </form>
	  <form action="/" metho="POST" id="setlistForm">
		<input type="hidden" name="genre" id="genreInput" />
		<input type="hidden" name="song"  id="songInput" />
		<button type="submit">Add to SetList</button>
    </div>
    </div>

<!-- Add the Bootstrap and jQuery libraries -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="{{url_for('static', filename='allscript.js')}}"></script>
<script src="{{url_for('static', filename='header.js')}}"></script>
 <script>
        // Function to handle file selection and load the JSON file
        function handleFileSelect(event) {
            const file = event.target.files[0];  // Get the selected file
            const reader = new FileReader();

            reader.onload = function (e) {
                const contents = e.target.result;  // Get the file contents

                try {
                    const data = JSON.parse(contents);  // Parse the JSON data
                    localStorage.setItem('setlist', JSON.stringify(data));  // Store the JSON data in localStorage
                    console.log('JSON file loaded and stored in localStorage.');

                    alert('File uploaded successfully.'); // Show an alert to indicate successful upload

                    location.reload(); // Reload the page to complete the import
                } catch (error) {
                    console.error('Error parsing JSON file:', error);
                }
            };

            reader.readAsText(file);  // Read the file as text
        }

        // Function to handle exporting the setlist to a JSON file
        function exportSetlist() {
            const setlistData = localStorage.getItem('setlist'); // Get the setlist data from localStorage

            if (setlistData) {
                const jsonData = JSON.parse(setlistData);
                const formattedData = JSON.stringify(jsonData, null, 2); // Format the JSON data with indentation

                const blob = new Blob([formattedData], { type: 'application/json' });
                const url = URL.createObjectURL(blob);
                const a = document.createElement('a');

                a.href = url;
                a.download = 'setlist.json';
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);

                console.log('Setlist exported to JSON file.');
            } else {
                console.warn('No setlist data found in localStorage.');
            }
        }

        // Add an event listener to the file input element
        document.getElementById('file-input').addEventListener('change', handleFileSelect, false);
    </script>
<script>
  // Retrieve the searchValue from localStorage
  var searchValue = localStorage.getItem('searchValue');

  // Check if searchValue is empty
  if (searchValue) {
    var searchLabel = document.getElementById('searchLabel');
    var currentUrl = window.location.href;
    var url = currentUrl.replace(/\/$/, '') + '/chartsearch?query=' + encodeURIComponent(searchValue);
    searchLabel.innerHTML = "Find a chart for '<a href='" + url + "' target='_blank'>" + searchValue + "</a>'";
  }
</script>  </body>
</html>
