<!DOCTYPE html>
<html>
  <head>
    <title>Search Results2</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>
    <div class="header">
      <span id="Collection Select"><a href="/" color="red">Collection</a></span> |
      <span id="selectedGenreHeader"></span> |
      <span id="selectedSongHeader"></span> |
    
      <button class="button" id="sendToBBButton" onclick="sendToBeatBuddy()">
        Send to Beat Buddy
      </button>
      <div id="successMessage" style="display: none;">
        Data sent to Beat Buddy successfully!
      </div>

   
    </div>

    <h1>
      <img src="/static/ss_logo.jpg" width="30px" />Song Matching Site Matches
      for "{{ query }}"
    </h1>
    <div>
      <form id="bbForm" method="POST">
        {% for result in results %}
        <button
          type="button"
          class="accordion"
          data-beat="{{ result.beat }}"
          data-bpm="{{ result.bpm }}"
          onclick="searchByBeat(this, event)"
        >
          {{ result.genre_name }} - {{ result.song_name }} - {{ result.bpm }} -
          {{ result.beat }}
        </button>

        <div class="panel">
          <!-- Content inside the accordion panel -->
		
        </div>
        {% endfor %}
        <input type="hidden" id="queryInput" name="query" value="{{ query }}" />
      </form>
    </div>
<script src="{{url_for('static', filename='allscript.js')}}"></script>
<script src="{{url_for('static', filename='header.js')}}"></script>
    <script>
      function searchByBeat(button, event) {
          console.log("searchByBeat");
          event.preventDefault(); // Prevent the default button behavior
          var beat = button.getAttribute("data-beat");
          var bpm = button.getAttribute("data-bpm");
          bpm = bpm.substring(0, bpm.length-3);
          console.log(bpm);
          var mybeat = beat.substring(beat.lastIndexOf(":") + 1).trim();
          var searchUrl = "/search/query=" + encodeURIComponent(mybeat);
          localStorage.setItem("bpm", bpm);

          window.location.href = searchUrl;
      }

          function delay(time) {
        return new Promise(resolve => setTimeout(resolve, time));
    }

    function updateSetlist() {
        // Get the selected genre and song
        var selectedGenre = document.getElementById("selectedGenreHeader").textContent;
        var selectedSong = document.getElementById("selectedSongHeader").textContent;
        console.log("Selected genre:", selectedGenre);
        console.log("Selected song:", selectedSong);

        // Create an object for the new song
        var songObject = {
            genre: selectedGenre,
            song: selectedSong
        };

        // Retrieve the existing setlist from local storage or create an empty array
        var setlist = JSON.parse(localStorage.getItem("setlist")) || [];

        // Add the new song to the setlist
        setlist.push(songObject);

        // Store the updated setlist in local storage
        localStorage.setItem("setlist", JSON.stringify(setlist));

        var setListAdded = document.getElementById("setListAdded");
        setListAdded.style.display = "block";
        delay(1000);
        console.log("waited one second");
        location.reload(); 
            // Update the setlist display

        //document.addEventListener("DOMContentLoaded", function() {
        //  displaySetlist();
        //    });
    }
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

  </body>
</html>
