<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  </head>
<body style="padding-top: 0px; padding-left: 7px">
     <div class="header">
      <span id="Collection Select"><a href="/" color="red">Collection</a></span> |
      <span id="selectedGenreHeader"></span> |
      <span id="selectedSongHeader"></span> |
    
      <button class="button" id="sendToBBButton" onclick="sendToBeatBuddy()">
        Send to Beat Buddy
      </button>
      <div id="successMessage" style="display: none;">
        Data sent to Beat Buddy successfully!
      </div>


    <h1>Search for Songs</h1>
    <form action="/search" method="POST">
      <input type="text" name="query" placeholder="Enter your search query" />
      <input type="submit" value="Search" />
    </form>
  </body>
</html>
