<!DOCTYPE html>
<html>
<head>
    <title>MIDI Interface Selection</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>MIDI Interface Selection</h1>
    <form method="POST" action="/">
        <label for="input">Input:</label>
        <select name="input" id="input">
            {% for input in inputs %}
                <option value="{{ input }}">{{ input }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="output">Output:</label>
        <select name="output" id="output">
            {% for output in outputs %}
                <option value="{{ output }}">{{ output }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="homedir_songs">Path to Collections directory:</label>
        <input type="text" name="homedir_base" id="homedir_base" value="{{ homepath }}">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
